<section data-ng-controller="SavedSetController as SavedSetController">
    <div class="alert-error" data-ng-if="SavedSetController.syncError"><i class="icon-attention"></i>
        Failed retrieving some saved sets. Please refresh this page to retry. If problem persists, delete the sets that are in "processing" state.
    </div>

    <p>
    These are your saved sets. You can create <strong>donor</strong>, <strong>gene</strong>, or <strong>mutation</strong> sets of your
    interest in <a href="/search">Advanced Search</a>. <br>
    You can also save a <a href="" data-ng-click="SavedSetController.addCustomGeneSet()"><i class="icon-floppy"></i>Custom gene set</a>.
    </p>


    <div style="padding:.5rem 0">
        <button class="t_button t_button__destructive" data-ng-click="SavedSetController.removeLists()" 
            data-ng-disabled="SavedSetController.selectedSets.length === 0"
            data-tooltip="Delete">
            <i class="icon-trash"></i>
        </button>   
    </div>

    <div class="wide">
        <table class="table table-selectable">
            <thead>
                <th class="text-center">
                    <i class="icon-check-empty"></i>
                </th>
                <th>Item type</th>
                <th>Name</th>
                <th>Note</th>
                <th class="text-right"># of items</th>
                <th></th>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in SavedSetController.entityLists" 
                    data-ng-style="{'font-weight': $index===0? '600':''}" data-ng-init="checked=false">
                    <td class="text-center">
                        <span data-ng-if="(item.state === 'FINISHED' || SavedSetController.syncError === true) && $index > 0" style="cursor:pointer" 
                              data-ng-click="checked = !checked; checked === true? SavedSetController.addSelection(item) : SavedSetController.removeSelection(item); update();">
                            <i class="{{checked === true? 'icon-check': 'icon-check-empty'}}"></i>
                        </span>
                        <span data-ng-if="$index==0">--</span>
                    </td>
                    <td>{{item.type | trans:true}}</td>
                    <td>{{item.name}}</td>
                    <td style="max-width: 30rem">{{item.description}}</td>
                    <td class="text-right" data-ng-if="item.state === 'FINISHED'">
                        <a href="{{item.advLink}}">{{item.count | number}}</a>
                    </td>
                    <td data-ng-if="item.state === 'FINISHED'">
                        <span style="float:left; font-size:1.25rem">
                            <span class="t_tools__tool" data-tooltip="Export as TSV">
                                <i class="icon-file" data-ng-click="SavedSetController.exportSet(item.id)"></i>
                            </span>
                        </span>
                    </td>
                    <td colspan="2" data-ng-if="item.state !== 'FINISHED'">
                        Processing ... <i class="icon-spinner icon-spin"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

