<ul class="t_facets__facet"> 
    <li class="t_facets__facet__terms">
        <ul class="t_facets__facet__terms__active">
            <li class="t_facets__facet__terms__active__term__label" 
                data-ng-if="hasGeneList"
                data-ng-click="remove()"
                data-ng-mouseover="toggleRemove=true"
                data-ng-mouseleave="toggleRemove=false" >
                <i class="{{ toggleRemove === true? 'icon-cancel':'icon-ok'}}"></i> Uploaded Gene List
            </li>
            <li class="text-right" data-ng-hide="collapsed">
                <button type="button" class="t_button" data-ng-click="genelistModal=!genelistModal; reset();">
                    <i class="icon-upload"></i> Upload Gene List
                </button>
                <br><br>
            </li>
        </ul>
    </li>
</ul>
<div data-modal=genelistModal>
    <div class="modal-dialog light">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header clearfix">
                <h3 class="pull-left">Upload Gene List</h3>
                <button class="pull-right t_button" data-ng-click="genelistModal=false"><i
                        class="icon-cancel"></i>
                </button>
            </div>

            <!-- body -->
            <div class="modal-body" style="height:60rem">
               <div>
                   <span>Type or copy-and-paste a list of genes</span> 
                   <span class="pull-right"
                      data-tooltip="- Gene identifier: Symbol (e.g. TTN) or Ensembl ID (e.g. ENSG00000133703).<br><br>- Delimiters between Genes: Comma ',' or Space or New Line (enter one gene per line).<br><br>- If you upload a file, Format File is Text File (.txt, .csv, .tsv)."
                      data-tooltip-placement="left">
                      <a href=""><i class="icon-help"></i></a>
                   </span>
               </div>
               <div style="padding:0.25rem">
                   <textarea 
                       rows="5" 
                       placeholder="e.g. TTN, TP53, CSMD3, ENSG ENSG00000151952, ENSG00000133703, Q9Y5I3"
                       data-autofocus
                       data-ng-model="rawText" 
                       data-ng-change="updateGenelist()"> 
                   </textarea>
               </div>
               <div>
                   <button class="t_button pull-right" data-ng-click="reset()">Clear</button>
               </div>
               <br>
               <div>
                   <div>Or choose a file to upload</div>
                   <span class="t_button btn btn-file">
                       Browse <input type="file" accept=".tsv,.csv,text/*" data-file-upload="myFile">
                   </span>
                   {{fileName}}
               </div>


               <span data-ng-if="state==='verifying'"><i class="icon-spin icon-spinner"></i> Verifying Gene List ... </span>
               <span data-ng-if="state==='uploading'"><i class="icon-spin icon-spinner"></i> Loading Gene List file ... </span>
               <div data-ng-if="state==='verified'"> 
                   <div data-ng-if="warnings.length > 0">
                      <span class="alert-error" data-ng-repeat="warning in warnings">
                          <i class="icon-attention-1"></i> {{ warning }}
                      </span>
                   </div>

                   <div data-ng-if="validIds.length > 0 && warnings.length === 0"> 
                      <span data-ng-init="expanded=false" data-ng-click="expanded=!expanded">
                          <a href="">
                               {{totalInput}} submitted gene identifiers mapped to {{totalMatch}} gene Ensembl ID
                              <i class="{{ expanded? 'icon-caret-down':'icon-caret-left'}}"></i>
                          </a>
                      </span>
                      <!--<div style="max-height:10rem; overflow-y:scroll; overflow-x: hidden">-->
                      <div data-ng-show="expanded"> 
                          <span data-toolbar data-dl="genelist"></span>
                          <table class="table table-info" id="genelist">
                              <thead>
                                  <tr>
                                      <th colspan="3">Submitted</th>
                                      <th colspan="2">Mapped</th>
                                  </tr>
                                  <tr>
                                      <td>Symbols</td>
                                      <td>UniProt ID</td>
                                      <td>Ensembl ID</td>
                                      <td>Ensembl ID</td>
                                      <td>Symbols</td>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr data-ng-repeat="(symbol, row) in uiResult">
                                      <td>{{row['symbol'].join(', ')}}</td>
                                      <td>{{row['external_db_ids.uniprotkb_swissprot'].join(', ') }}</td>
                                      <td>{{row['_gene_id'].join(', ')}}</td>
                                      <td>{{row['matchedId'].join(', ')}}</td>
                                      <td>{{symbol}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                   </div>

                   <div data-ng-if="validIds.length === 0 && warnings.length === 0">
                      <span class="alert-error">
                         <i class="icon-attention-1"></i> No entry recognized in the system
                      </span>
                   </div>


                   <div data-ng-show="validIds.length > 0 && invalidIds.length > 0 && warnings.length === 0" data-ng-init="expanded=false"> 
                       <a href="" data-ng-click="expanded=!expanded">
                           <span class="alert-warning">
                               <i class="icon-attention-1"></i>{{invalidIds.length}} entries not recognized in the system
                               <i class="{{expanded? 'icon-caret-down':'icon-caret-left'}}"></i>
                           </span>
                       </a>
                       <div class="gene-list-ids" data-ng-hide="!expanded">
                           <em>{{ invalidIds.join(', ') }}</em>
                       </div>
                   </div>

               </div>

            </div>

            <!-- footer -->
            <div class="modal-footer">
                <button class="t_button" data-ng-click="genelistModal=false; reset();">Cancel</button>
                <button class="t_button" data-ng-click="newGeneList()"
                    data-ng-disabled="state !== 'verified' || validIds.length === 0">Submit</button> 
            </div>
        </div>
    </div>
</div>
