<p>
    ICGC and Amazon have partnered to offer low-cost and scalable computing solutions 
    for analysing ICGC data on <a href="#">AWS EC2</a>. The ICGC AWS S3 repository is managed by 
    the ICGC Data Coordination Center (DCC) which is also developing software tools to 
    search and access the repository content from AWS EC2 instances. Raw data and 
    associated metadata produced by the <a href="#">ICGC PCAWG study</a> as well as the one 
    submitted by ICGC's members to the  <a href="#">European Genome Archive (EGA)</a> is 
    periodically gathered, curated and incrementally uploaded to this repository for the 
    benefit of the cancer research community. An up-to-date summary of the repository's 
    data content is provided on the right. &nbsp;Our <a href="#">user guide</a>&nbsp;provides 
    step-by-step instructions on how to access and analyse ICGC data on AWS.&nbsp;
</p>