	<p style="text-align:justify; text-indent:1rem">
           The Cancer Genome Collaboratory (or simply the Collaboratory) is an academic and research 
           cloud infrastructure being built by the Ontario Institute for Cancer Research (OICR). The 
           repository's data content is maintained in collaboration with the&nbsp;ICGC Data Coordination 
           Center (DCC). Although its access is currently restricted to a small number of beta-testers, 
           OICR's plan is to scale up the hardware infrastructure, upload more ICGC datasets and make 
           available this compute cloud resource to a broader community of researchers by end of 2016. 
           For more information, please contact (an email for collab?). An up-to-date summary of the 
           repository's data content is provided on the right. Our <a href="#">user guide</a> 
           provides step-by-step instructions on how to access and analyse ICGC data on the Collaboratory.
  </p>