<div class="half pull-right" style="margin-bottom:1.5rem; margin-top:1rem; margin-left:2rem; margin-right: 2rem">

      <stacked height="250"
         data-title="Donor Distribution by Primary Site"
         data-subtitle="{{summary.projectCount}} projects and {{summary.primarySiteCount}} primary sites"
         data-y-label="Donors"
         data-alternate-brightness="true"
         data-items="primarySites"
         data-is-loading="false">
      </stacked>

      <section class="well" style="padding-top:0.5rem; padding-bottom:0.5rem">
          <div class="third text-center">
              <i class="icon-team" style="font-size:1.25rem"></i><strong>{{summary.donorCount | number}}</strong> Donors
          </div>
          <div class="third text-center">
              <i class="icon-file" style="font-size:1.25rem"></i><strong>{{summary.fileCount | number}}</strong> Files
          </div>
          <div class="third omega text-center">
              <i class="icon-database" style="font-size:1.25rem"></i><strong>{{summary.totalFileSize | bytes}}</strong>
          </div>
      </section>

      <table class="table table-info">
          <thead>
              <th>Data Type</th>
              <th># Donors</th>
              <th># Files</th>
              <th>Format</th>
              <th>Size</th>
          </thead>
          <tbody>
              <tr data-ng-repeat="type in repositoryCtrl.getRepoDataTypes()">
                  <td> {{type.uiName}}</td>
                  <td class="text-right">{{type.donorCount | number}}</td>
                  <td class="text-right">
                      <a href="/repository/external?filters={{type.filters}}">{{type.fileCount | number}}</a>
                  </td>
                  <td>{{ type.fileFormat.join(', ')}}</td>
                  <td class="text-right">{{type.fileSize | bytes}}</td>
              </tr>
          </tbody>
      </table>

      <span>
          Available data as of <a href="/repository/external?filters={{repositoryCtrl.getFilterQueryStr()}}" data-ng-bind="repositoryCtrl.getRepoCreationDate() | date"></a>
      </span>
   </div>