<p>
  The Cancer Genome Collaboratory (or simply the Collaboratory) is an academic research cloud being built by the Ontario Institute for Cancer Research (OICR). Collaboratory hosts ICGC BAM files, compute capabilities, and Docker-based analysis tools for use by its research community. Although its access is currently restricted to a small number of beta-testers, OICR plan is to scale up the hardware infrastructure, increase the number of ICGC datasets available, and open the cloud to a broader community of researchers by the end of 2016. For more information, please contact help@cancercollaboratory.org.
</p>

<h3>Data Repository</h3>
<p>
  The Collaboratory currently contains a growing repository of ICGC alignment and variant data sourced from the ICGG PanCancer Analysis of Whole Genomes project (PCAWG).  Content is maintained in collaboration with the ICGC Data Coordination Center (DCC).  Our user guide provides step-by-step instructions on how to access and analyse ICGC data on the Collaboratory.
</p> 

<div class="repo-controls-container">
        <a class="t_button btn" data-ng-show="repositoryCtrl.hasSummaryData()" data-ng-href="/repository/external?filters={{repositoryCtrl.getFilterQueryStr()}}"><i class="icon-search"></i> Search Respository</a>
        <a class="t_button btn" data-ng-href="/icgc-in-the-cloud/repositories/{{repoContextID}}/guide"><i class="icon-book-open"></i>User Guide</a>
</div>


<h3>Cloud Infrastructure</h3>
<p>
  The Collaboratory hosts an OpenStack cloud with nearly 640 cores and over 1.6 PB of raw storage available for use by researchers.  Users can launch and access Linux virtual machines running common distributions such as Ubuntu or CentOS through the OpenStack console.
  [ OpenStack Console ]
</p> 

<h3>Container Sharing</h3>
<p>
  The Collaboratory offers multiple ways for researchers to share their tools including VM sharing through the OpenStack Console and the Dockstore. The latter is a developing service that offers Docker container sharing based on the GA4GH-compliant tool descriptor.  This is complimented by Consonance, a cloud orchestration tool, that allows users to launch Docker-based tools on many cloud nodes simultaneously. Both tools are open source and in active development.
  [ Dockstore ] [ Consonance Guide ]
</p>