<h3 data-ng-if="!AdvancedCtrl.Gene.genes" class="loading loading-icon">
    <i class="icon-spinner icon-spin icon-4x"></i>
</h3>
<ul data-ng-show="AdvancedCtrl.Gene.genes" class="t_facets">
    <li data-tags-facet data-label="Gene" data-facet-name="id" data-placeholder="eg. KRAS, ENSG00000133703"
        data-type="gene">
    </li>

    <li data-tags-facet data-label="Pathway"
        data-facet-name="pathwayId"
        data-placeholder="eg. REACT_75842, TNF Signaling" data-type="pathway">
    </li>

    <li data-tags-facet data-label="GO"
        data-facet-name="goTermId"
        data-placeholder="eg. GO:0016049, cell growth" data-type="go_term">
    </li>

    <li data-tags-facet data-label="Curated Set"
        data-facet-name="curatedSetId" data-type="curated_set">
    </li>


    <terms data-type="gene" data-facet-name="type" data-facet="AdvancedCtrl.Gene.genes.facets.type"
           data-capitalize="true"></terms>

    <li data-location-facet data-type="gene" data-facet-name="location" data-label="Location"
        data-placeholder="Enter gene location" data-example="eg. chr12:43566-3457633"></li>

</ul>
