//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
/*
$black:                 $black !default;
$grayDarker:            $greyDarker !default;
$grayDark:              $greyDark !default;
$gray:                  $grey !default;
$grayLight:             $greyLight !default;
$grayLighter:           $greyLighter !default;
$grayLightest:          $greyLightest !default;
$white:                 $white !default;
*/

// Accent colors
// -------------------------
$blue:                  $cyan;
$blueDark:              $blue;
$green:                 $green;
$red:                   $red;
$orangeLight:           $orangeLight;
$orange:                $orange;
$pink:                  $magenta;
$purple:                $violet;
