<h1>
    <i class="t_badge t_badge_icon t_badge__search"><i class="icon-chart-bar"></i></i>PCAWG
</h1>
<section> 
   <div class="half pull-right" style="margin:2rem 3rem">
      <table class="table table-info">
          <thead>
              <th>Data type</th>
              <th># Donors</th>
              <th># Files</th>
              <th>File size</th>
          </thead>
          <tbody>
              <tr>
                  <td>???</td>
                  <td>???</td>
                  <td>???</td>
                  <td>???</td>
              </tr>
              <tr>
                  <td>???</td>
                  <td>???</td>
                  <td>???</td>
                  <td>???</td>
              </tr>
          </tbody>
      </table>
      <br>
      Please see <a href="http://pancancer.info/" target="_blank"><i class="icon-external-link"></i>pancancer.info</a> for more information.
   </div>

   {{tcgaIpsum}}

</section>

