<h1>
    <i class="t_badge t_badge_icon t_badge__search"><i class="icon-chart-bar"></i></i>The Pan-Cancer Analysis of Whole Genome Study
</h1>
<section> 
   <div class="half pull-right" style="margin:1.5rem 2.5rem">

            <section class="well" style="padding-top:0.5rem; padding-bottom:0.5rem">
                <a href="/repository/external?filters={{filters}}">
                <div> 
                    <i class="icon-team" style="font-size:1.25rem"></i>
                    <strong> {{summary.donorCount | number}}</strong> Donors
                    across
                    <strong> {{summary.projectCount | number}}</strong> projects
                    and
                    <strong> {{summary.primarySiteCount | number}}</strong> primary sites 
                </div>

                <div class="third">
                    <i class="icon-file" style="font-size:1.25rem"></i><strong>{{summary.fileCount | number}}</strong> Files
                </div>
                <div class="third omega">
                    <i class="icon-database" style="font-size:1.25rem"></i><strong>{{summary.totalFileSize | bytes}}</strong>
                </div>
                </a>
            </section>

      <table class="table table-info">
          <thead>
              <th>Data type</th>
              <th># Donors</th>
              <th># Files</th>
              <th>Format</th>
              <th>File size</th>
          </thead>
          <tbody>
              <tr data-ng-repeat="type in pcawgDatatypes">
                  <td>
                      {{type.name}}
                      {{type.name === 'DNA-Seq'? '(Whole Genome)' : ''}}
                  </td>
                  <td class="text-right">{{type.donorCount | number}}</td>
                  <td class="text-right">
                      <a href="/repository/external?filters={{type.filters}}">{{type.fileCount | number}}</a>
                  </td>
                  <td>{{ type.fileFormat.join(', ')}}</td>
                  <td class="text-right">{{type.fileSize | bytes}}</td>
              </tr>
          </tbody>
      </table>
      Please see <a href="http://pancancer.info/" target="_blank"><i class="icon-external-link"></i>pancancer.info</a> for more information.
   </div>

   {{tcgaIpsum}}

</section>

