<div data-modal=enrichmentModal>
    <div class="modal-dialog light">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header clearfix">
                <h3 class="pull-left">Perform Enrichment Analysis</h3>
                <button class="pull-right t_button" data-ng-click="enrichmentModal=false"><i class="icon-cancel"></i>
                </button>
            </div>

            <!-- body -->
            <div class="modal-body"> 
               <ol>
                   <li>
                       <div>
                           <div>Select number of genes to be analyzed: ({{total}} maximum) </div>
                           <input type="text" size="5" 
                               data-ng-model="analysisParams.maxGeneCount"
                               data-ng-change="checkInput()">
                           <br>
                           <br>
                       </div>
                   </li>
                   <li> 
                       <div>
                           <div>Select universe:</div>
                           <div data-ng-repeat="item in Extensions.GENE_SET_ROOTS"
                                data-ng-if="['go_term', 'pathway'].indexOf(item.type) >= 0">
                               <input type="radio"
                                   data-ng-model="analysisParams.universe"
                                   data-ng-change="checkInput()"
                                   value="{{item.universe}}"><span> {{item.name}}</span>
                           </div>
                       </div>
                       <br>
                   </li>
                   <li>
                       <div>
                           <div>Select <abbr data-tooltip="False Discovery Rate">FDR</abbr> q-value threshold: (0.005 to 0.5 inclusive)</div>
                           <input type="text" size="5" 
                               data-ng-model="analysisParams.fdr"
                               data-ng-change="checkInput()">
                       </div>
                   </li>
               </ol>
               <div>
                   <span>Show top: </span>
                   <span>
                       <select data-ng-model="analysisParams.maxGeneSetCount" 
                           data-ng-change="checkInput()"
                           data-ng-options="item for item in [10, 20, 50, 100]"></select>
                   </span>
                   <span> gene sets</span>
               </div>
            </div>

            <!-- footer -->
            <div class="modal-footer">
                <button class="t_button" data-ng-click="enrichmentModal=false; reset();">Cancel</button>
                <button class="t_button" data-ng-click="newGeneSetEnrichment()"
                    data-ng-disabled="! hasValidParams">Submit</button> 
            </div>
        </div>
    </div>
</div>

