<!--
<button type="button" class="t_button" data-ng-click="enrichmentModal=!enrichmentModal">
    <i class="icon-upload"></i> Enrichment Analysis 
</button>
-->
<div data-modal=enrichmentModal>
    <div class="modal-dialog light">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header clearfix">
                <h3 class="pull-left">Perform Enrichment Analysis</h3>
                <button class="pull-right t_button" data-ng-click="enrichmentModal=false"><i class="icon-cancel"></i>
                </button>
            </div>

            <!-- body -->
            <div class="modal-body t_table_top"> 

               <div>
                   <span>
                       Number of top genes in gene result to be analyzed ({{total}} maximum): <br>
                       <input type="text" size="5" 
                           data-ng-model="analysisParams.maxGeneCount"
                           data-ng-change="checkInput()">
                   </span>
               </div>
               <br>
               <div>
                   <div>Select Background: </div>
                   <div data-ng-repeat="item in Extensions.GENE_SET_ROOTS"
                        data-ng-if="['go_term', 'pathway'].indexOf(item.type) >= 0">
                       <input type="radio"
                           data-ng-model="analysisParams.universe"
                           data-ng-change="checkInput()"
                           value="{{item.universe}}"><span> {{item.name}}</span>
                   </div>
               </div>
               <br>
               <div>
                   <div>FDR q-value below: <br>
                   <input type="text" size="5" data-ng-model="analysisParams.fdr"></input></div>
               </div>
               <br>
               <div>
                   <div> 
                       <span>Show top: </span>
                       <span>
                           <select data-ng-model="analysisParams.maxGeneSetCount" 
                               data-ng-change="checkInput()"
                               data-ng-options="item for item in [10, 20, 50, 100]"></select>
                       </span>
                       <span> Gene Sets</span>
                   </div>
               </div>
            </div>

            <!-- footer -->
            <div class="modal-footer">
                <button class="t_button" data-ng-click="enrichmentModal=false; reset();">Cancel</button>
                <button class="t_button" data-ng-click="newGeneSetEnrichment()"
                    data-ng-disabled="! hasValidParams">Submit</button> 
            </div>
        </div>
    </div>
</div>

