<button type="button" class="t_button" data-ng-click="enrichmentModal=!enrichmentModal">
    <i class="icon-upload"></i> Enrichment Analysis 
</button>
<div data-modal=enrichmentModal>
    <div class="modal-dialog light">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header clearfix">
                <h3 class="pull-left">Perform Enrichment Analysis</h3>
                <button class="pull-right t_button" data-ng-click="enrichmentModal=false"><i class="icon-cancel"></i>
                </button>
            </div>

            <!-- body -->
            <div class="modal-body"> 
               <span> debug: {{analysisParams}} </span>
               <hr>

               <div>
                   <span>
                       <strong>Number of top genes in gene result to be analyzed: </strong><br>
                       <input type="text" size="5" data-ng-model="analysisParams.geneCount">
                   </span>
               </div>
               <br>
               <div>
                   <div><strong>Select Background</strong></div>

                   <div data-ng-repeat="item in Extensions.PATHWAY_ROOTS">
                       <input type="radio"
                           data-ng-model="$parent.analysisParams.background"
                           value="{{item.name}}"><span> {{item.name}}</span>
                   </div>
                   <div data-ng-repeat="item in Extensions.GENE_ONTOLOGY_ROOTS">
                       <input type="radio"
                           data-ng-model="$parent.analysisParams.background"
                           value="{{item.name}}"><span> {{item.name}}</span>
                   </div>
               </div>
               <br>
               <div>
                   <div><strong>FDR q-value below: </strong><br>
                   <input type="text" size="5" data-ng-model="analysisParams.fdr"></input></div>
               </div>
               <br>
               <div>
                   <div>
                       <span><strong>Show: </strong></span>
                       <span>
                           <select data-ng-model="analysisParams.geneSetCount" 
                               data-ng-options="item for item in [10, 20, 50, 100]"></select>
                           <span data-ng-init="geneSetCount=50"></span>
                       </span>
                   </div>
               </div>
               <br>
            </div>

            <!-- footer -->
            <div class="modal-footer">
                <button class="t_button" data-ng-click="enrichmentModal=false; reset();">Cancel</button>
                <button class="t_button" data-ng-click="newGeneSetEnrichment()"
                    data-ng-disabled="state !== 'verified' || validIds.length === 0">Submit</button> 
            </div>
        </div>
    </div>
</div>

