.alert {
  border-radius: 0;
  border: none;
  margin: 0;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: .5rem 2rem;
}

.alert-w-icon {
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0.5rem 0.5rem;
  display: table;
  width: 100%;
  
  .alert-icon-container {
    display: table-cell;
    font-size: 2rem;
    vertical-align: middle;
    text-align: center;
  }
  
  .alert-icon-body {
    width: 95%;
    display: table-cell;
  }
  
}

.alert-info {
  background: lighten($cyan, 49);
  color: $cyan;
}
.alert-error {
  background: lighten($red, 43);
  color: $red;
}
