<div data-ng-if="item.state === 'ANALYZING'">
    <h1 class="text-center"><i class="icon-spinner icon-spin" style="font-size:5rem"></i></h1>
</div>
<span data-ng-if="item.state !== 'ANALYZING'">
    <div class="canvas half"></div>
    <div class="narrow">

        <span><i class="icon-check-empty"></i> Select all</span>
        <!--<table class="table table-setop">-->
        <table class="table">
            <thead>
                <th>&nbsp;</th>
                <th>Set operations</th>
                <th>Counts</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <!--<tr style="cursor:pointer; background-color: {{ checkRow(item.intersections)? '#88BB00' : 'inherit' }}"-->
                <tr style="cursor:pointer"
                    data-ng-repeat="item in data"
                    data-ng-mouseenter="tableMouseEnter(item.intersections)"
                    data-ng-mouseleave="tableMouseOut(item.intersections)"
                    data-ng-click="checked=!checked; toggle(item.intersections)">
                    <td>
                        <!--
                        <i style="-color:{{ checkRow(item.intersections)? '#88BB00' : 'inherit' }}"
                           class="{{ isSelected(item.intersections)? 'icon-check' : 'icon-check-empty'}}"></i>
                        -->
                        <i style="-color:{{ checkRow(item.intersections)? '#88BB00' : 'inherit' }}"
                           class="{{ isSelected(item.intersections)? 'icon-check' : 'icon-check-empty'}}"></i>
                    </td>
                    <td>
                        <span style="font-size:1.0rem" data-ng-bind-html="displaySetOperation(item, setList)"></span>
                    </td>
                    <td class="text-right">{{item.count | number}}</td>
                    <td>
                        <span class="t_tools" style="float:left">
                            <span class="t_tools__tool">
                                <i class="icon-file" data-tooltip="Export"></i>
                                <i class="icon-upload" data-tooltip="Save as new list"></i>
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Union of selected sets</td>
                    <td class="text-right">???</td>
                    <td>
                        <span class="t_tools" style="float:left">
                            <span class="t_tools__tool">
                                <i class="icon-file" data-tooltip="Export"></i>
                                <i class="icon-upload" data-tooltip="Save as new list"></i>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <ul>
                <li data-ng-repeat="item in setList">
                {{getSetShortHand(item, setList)}} - {{item}}
                </li>
            </ul>
        </div>

    </div>
</span>
