<div data-modal=setModal>
    <div class="modal-dialog light">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header clearfix">
                <h3 data-ng-if="!setLimit" class="pull-left">Save {{setType}} set</h3>
                <h3 data-ng-if="setLimit" class="pull-left">Save Query Results</h3>

                <button class="pull-right t_button" data-ng-click="setModal=false"><i class="icon-cancel"></i>
                </button>
            </div>

            <!-- body -->
            <div class="modal-body"> 

                <!--
                <div data-ng-if="setLimit">
                    <br>
                    <div>Query:</div>
                    <query-display data-filters="uiFilters"><query-display>
                </div>
                -->

                <br>
                <div>Name:</div>
                <input type="text" data-ng-model="setName" maxlength="64"></input>

                <br>
                <div>Note:</div>
                <textarea cols="50" rows="3" data-ng-model="setDescription" placeholder="(Optional)" maxlength="256"></textarea>
                <small>{{256 - setDescription.length}} chars left</small>

                <br>
                <div data-ng-if="setLimit">
                Note: Only the top {{setLimit}} {{setType}} will be saved.
                </div>
            </div>

            <!-- footer -->
            <div class="modal-footer">
                <button class="t_button" data-ng-click="cancel()">Cancel</button>
                <button class="t_button" data-ng-click="submitNewSet(); setModal=false">Save</button> 
            </div>
        </div>
    </div>
</div>

