<h1 data-ui-scrollfix="79"><span class="t_badge t_badge_icon"><span class="icon-team"></span></span>The ICGC DCC Team
</h1>
<article class="full">
    <section>
        <h3 style="font-size:1.5rem;margin-bottom:.5rem; font-weight:500">Leader</h3>
        <ul>
            <li>Lincoln Stein, OICR</li>
        </ul>

        <h3 style="margin-top:1rem; font-size:1.5rem;margin-bottom:.5rem; font-weight:500">Data Curation</h3>
        <ul>
            <li>Francis Ouellette, Leader, OICR</li>
            <li>Hardeep Nahal</li>
            <li>Marc Perry</li>
        </ul>
        <div class="clearfix"></div>

        <h3 style="margin-top:1rem; font-size:1.5rem;margin-bottom:.5rem; font-weight:500">Data Portal and Software Development</h3>
        <div class="half">
            <ul>
                <li>Vincent Ferretti, Leader, OICR</li>
                <li>Daniel Chang</li>
                <li>Phuong-My Do</li>
                <li>Francois Gerthoffert</li>
                <li>Aly Hassan</li>
                <li>Sepehr Mavedati</li>
            </ul>
        </div>
        <div class="half omega">
            <ul>
                <li>Jerry Lam</li>
                <li>Terry Lin</li>
                <li>Vitalii Slobodianyk</li>
                <li>Bob Tiernay</li>
                <li>Shane Wilson</li>
                <li>Junjun Zhang</li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <h3 style="margin-top:1rem; font-size:1.5rem;margin-bottom:.5rem; font-weight:500">Research IT Infrastructure/Systems</h3>
        <div class="half">
            <ul>
                <li>David Sutton, Leader, OICR</li>
                <li>Bob Gibson</li>
                <li>Sam Maclennan</li>
                <li>David Magda</li>
            </ul>
        </div>
        <div class="half omega">
            <ul>
                <li>Goran Marik</li>
                <li>Rob Naccarato</li>
                <li>Brian Ott</li>
                <li>Gino Yearwood</li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <h3 style="margin-top:1rem; font-size:1.5rem;margin-bottom:.5rem; font-weight:500">Contributors</h3>
        <ul>
            <li>Ignacio Medina (Genome Maps), European Bioinformatics Institute, United Kingdom</li>
            <li>Franciso Salavert (Genome Maps), European Bioinformatics Institute, United Kingdom</li>
            <li>Pablo Cingolani (SnpEff), McGill University and Genome Quebec Innovation Center, Canada</li>
            <li>Louis Letourneau (SnpEff), McGill University and Genome Quebec Innovation Center, Canada</li>
            <li>Denis Yuen (SeqWare), OICR</li>
        </ul>
    </section>
</article>
