<div style="margin-left:2rem; margin-right:2rem;" class="container">
		<h1>Software</h1>
			<section class="tab-content">
				<h2>Storage Client</h2>
				<div class="tab-pane active" id="client">
						<p>To interact with the repository you may download the latest client:</p>
						<p>
							<a id="latest-version" class="t_button" target="_blank" href="api/v1/ui/software/dcc-storage-client/latest">Download</a>
						</p>
						<p>For all published versions, you may choose from the following:</p>
						<table class="table table-striped">
							<thead>
									<tr>
										<th>Version</th>
									</tr>
							</thead>
							<tbody id="versions">
							</tbody>
						</table>
				</div>
			</section>
</div>