<h1 data-ui-scrollfix="79"><span class="t_badge t_badge_icon"><span class="icon-box"></span></span>Software</h1>
<div style="margin-left:2rem; margin-right:2rem;" class="container">
			<section class="tab-content" style="padding-top:0px;">
				<h2>Storage Client</h2>
				<div>
						<p>To interact with the repository you may download the latest client:</p>
						<p>
							<a id="latest-version" class="t_button" target="_blank" href="api/v1/ui/software/dcc-storage-client/latest">Download</a>
						</p>
						<p>For all published versions, you may choose from the following:</p>
						<table class="table table-striped" style="max-width:75%;">
							<thead>
									<tr>
										<th>Version</th> <th>Dist</th> <th>MD5</th> <th>Signature</th>
									</tr>
							</thead>
							<tbody id="versions">
							</tbody>
						</table>
				</div>
			</section>
			
			<section class="tab-content" style="padding-top:0px;">
				<h2>Public Key</h2>
				<div>
						<p>To verify the signatures you will need our public key:</p>
						<p>
							<a id="latest-version" class="t_button" target="_blank" href="api/v1/ui/software/key">Public Key</a>
						</p>				
				</div>
				<h3>How to verify?</h3>
				<div>
					<p>To verify the signatures you will need to ensure you have downloaded our public key and imported it:</p>
					<p>From a key server:<pre>$ gpg  --recv-key 0xAFE5D0B6</pre></p>
					<p>From a file:<pre>$ gpg --import icgc-software.pub</pre></p>
					<p>Once the public key has been imported you can verify the signature:</p>
					<p><pre>$ gpg dcc-storage-client-0.0.27-dist.tar.gz.asc</pre></p>
					<p>If successful, the ouput should contain the following:</p>
					<p><pre>
gpg: assuming signed data in `dcc-storage-client-0.0.27-dist.tar.gz'
gpg: Signature made Mon  5 Oct 12:38:09 2015 EDT using RSA key ID AFE5D0B6
gpg: Good signature from "ICGC DCC (Sign public software releases) <dcc-support@icgc.org>"
					</pre></p>
					
						
				</div>
					
			</section>
</div>