<h1 data-ui-scrollfix="79"><span class="t_badge t_badge_icon"><span class="icon-box"></span></span>Software</h1>
<div style="margin-left:2rem; margin-right:2rem;" class="container">
			<section class="tab-content" style="padding-top:0px;">
				<h2>Storage Client</h2>
				<div class="tab-pane active" id="client">
						<p>To interact with the repository you may download the latest client:</p>
						<p>
							<a id="latest-version" class="t_button" target="_blank" href="api/v1/ui/software/dcc-storage-client/latest">Download</a>
						</p>
						<p>For all published versions, you may choose from the following:</p>
						<table class="table table-striped" style="max-width:75%;">
							<thead>
									<tr>
										<th>Version</th> <th>Dist</th> <th>MD5</th> <th>Signature</th>
									</tr>
							</thead>
							<tbody id="versions">
							</tbody>
						</table>
				</div>
			</section>
</div>