<!-- header -->
<div class="modal-header clearfix">
    <h3 class="pull-left">{{fileType}} Fields</h1>
    <button class="pull-right t_button" data-ng-click="cancel()"><i class="icon-cancel"></i></button>
</div>

<!-- body -->
<div class="modal-body"> 
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>CV Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Something</td>
                <td>The quick brown fox jumps over the lazy dog</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>

