<div style="background: #eaeaea;color:#333;text-align: right; padding: .2rem 1rem">
   <span data-ng-show="params.user.verifying">
     <i class="icon-spinner icon-spin"></i> Verifying...
   </span>
   <span data-ng-show="params.user.token && !params.user.verifying">
      <i data-ng-show="params.user.daco" 
      class="icon-shield data-available"
         data-tooltip-placement="bottom"
         data-tooltip="DACO Access Authorized"></i>
      <i data-ng-hide="params.user.daco" 
      class="icon-shield data-missing"
         data-tooltip-placement="bottom"
         data-tooltip="DACO Access Unauthorized"></i>
      <span data-ng-bind="params.user.email"></span>
      <i data-ng-show="params.user.daco && params.showCollaboratoryToken" 
          style="cursor: pointer" class="icon-key" 
          data-ng-click="openTokenManagerPopup()" 
          data-tooltip="Token Manager Settings" 
          data-tooltip-placement="bottom"></i>
      <i data-ng-show="params.user.cloudAccess"
          class="icon-cloud-1 data-available"
          data-tooltip="Cloud Access Authorized"
          data-tooltip-placement="bottom"></i>
      <i data-ng-show="! params.user.cloudAccess"
          class="icon-cloud-1 data-missing"
          data-tooltip="Cloud Access Unauthorized"
          data-tooltip-placement="bottom"></i>    
       (
      <a href="" data-ng-click="logout()"><i class="icon-logout"></i> Logout</a>)
   </span>
   <a data-ng-hide="params.user.token || params.user.verifying" data-ng-click="openLoginPopup()" href="">
      <i class="icon-login"></i>Login</a>
</div>