<div class="h1-wrap" ng-init="info = fileCtrlr.fileInfo">
  <h1 data-ui-scrollfix=79 style="text-transform: none">
    <span class="t_badge t_badge__file"></span>
    {{:: info.fileId }}
  </h1>
</div>
<div data-scroll-spy="">

<aside data-ui-scrollfix=79 class="t_sidenav">
  <section>
    <ul class="t_subnav__items">
      <li data-spy="summary" class="t_subnav__items__item current">
        <a data-scrollto href="#summary">Summary</a>
      </li>
      <li data-spy="fileCopies" class="t_subnav__items__item">
        <a data-scrollto href="#fileCopies">File Copies</a>
      </li>
      <li data-spy="donor" class="t_subnav__items__item">
        <a data-scrollto href="#donor">Donor</a>
      </li>
    </ul>
  </section>
</aside>

<article>
<section id="summary">

  <div class="wide">
    <h3>Summary</h3>

    <table class="table table-info">
      <tr>
        <th>File ID</th>
        <td>{{ fileCtrlr.stringOrDefault (info.fileId) }}</td>
      </tr>
      <tr>
        <th>File UUID</th>
        <td>{{ fileCtrlr.stringOrDefault (info.id) }}</td>
      </tr>
      <tr ng-init="accessType = info.access">
        <th>Access</th>
        <td>
          <i class="{{ fileCtrlr.equalsIgnoringCase (accessType, 'open') ? 'icon-lock-open' : 'icon-lock' }}" />
          {{ fileCtrlr.stringOrDefault (accessType) }}
        </td>
      </tr>
      <tr>
        <th>File in Study</th>
        <td>
          <study-badge study="{{ info.study [0] }}" text="None">
        </td>
      </tr>
    </table>
  </div>

  <div class="narrow omega">
    <h3>Data Type</h3>

    <table class="table table-info" ng-init="categorization = info.dataCategorization">
      <tr>
        <th>Data Type</th>
        <td>{{ fileCtrlr.stringOrDefault (categorization.dataType) }}</td>
      </tr>
      <tr>
        <th>Experimental Strategy</th>
        <td>{{ fileCtrlr.stringOrDefault (categorization.experimentalStrategy) }}</td>
      </tr>
    </table>
  </div>

  <div class="wide">
    <h3>Analysis Method</h3>

    <table class="table table-info" ng-init="analysisMethod = info.analysisMethod">
      <tr>
        <th>Analysis Type</th>
        <td>{{ fileCtrlr.stringOrDefault (analysisMethod.analysisType) }}</td>
      </tr>
      <tr>
        <th>Software</th>
        <td>{{ fileCtrlr.stringOrDefault (analysisMethod.software) }}</td>
      </tr>
    </table>
  </div>

  <div class="narrow omega">
    <h3>Reference Genome</h3>

    <table class="table table-info" ng-init="referenceGenome = info.referenceGenome">
      <tr>
        <th>Genome Build</th>
        <td>{{ fileCtrlr.stringOrDefault (referenceGenome.genomeBuild) }}</td>
      </tr>
      <tr>
        <th>Reference Name</th>
        <td ng-init="downloadUrl = referenceGenome.downloadUrl">
          {{fileCtrlr.stringOrDefault (referenceGenome.referenceName) }}
          <a ng-if="downloadUrl" tooltip="Download"
            title="{{ downloadUrl }}" href="{{ downloadUrl }}">
            <i class="icon-download" />
            <!-- {{:: downloadUrl }} -->
          </a>
        </td>
      </tr>
    </table>
  </div>

</section>

<section id="fileCopies">
  <div>
    <h3>File Copies</h3>

    <table class="table table-info" ng-init="fileCopies = info.fileCopies">
      <thead>
        <tr>
          <th rowspan="2">File Name</th>
          <!-- <th rowspan="2">Checksum</th> -->
          <th rowspan="2">Format</th>
          <th rowspan="2">Size</th>
          <th rowspan="2">Last Update</th>
          <th colspan="3" class="text-center">Repository</th>
          <th rowspan="2">Actions</th>
        </tr>

        <tr>
          <th rowspan="2">Name</th>
          <th rowspan="2">Country</th>
          <th rowspan="2">Type</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="fileCopy in info.fileCopies">
          <td>{{ fileCtrlr.stringOrDefault (fileCopy.fileName) }}</td>
          <!-- <td>{{ fileCtrlr.stringOrDefault (fileCopy.fileMd5sum) }}</td> -->
          <td>{{ fileCtrlr.stringOrDefault (fileCopy.fileFormat) }}</td>
          <td>{{:: fileCopy.fileSize | bytes }}</td>
          <td tooltip="{{:: fileCopy.lastModified * 1000 | date: 'medium' }}">
            {{:: fileCopy.lastModified * 1000 | date: 'mediumDate' }}
          </td>
          <td>{{ fileCtrlr.stringOrDefault (fileCopy.repoName) }}</td>

          <td style="text-align: center; vertical-align: middle;"
            ng-init="countryCode = fileCtrlr.translateCountryCode (fileCopy.repoCountry.toLowerCase())">
            <span class="flag flag-{{ countryCode }}"
              tooltip="{{ fileCtrlr.countryName (countryCode) }}" />
          </td>
          <td>{{ fileCtrlr.stringOrDefault (fileCopy.repoType) }}</td>

          <td ng-init="showMetaData = fileCtrlr.shouldShowMetaData (fileCopy.repoType)">
            <a href="#"
              ng-click="fileCtrlr.downloadManifest (info.id, fileCopy.repoName)">
              <i class="icon-download" />Manifest
            </a>

            <span data-ng-if="showMetaData"><br>
              <a target="_blank"
                href="{{ fileCtrlr.buildUrl (fileCopy.repoBaseUrl, fileCopy.repoMetadataPath, info.dataBundle.dataBundleId) }}">
                <i class="icon-external-link" />Metadata
              </a>
            </span>

            <span data-ng-if="! showMetaData"><br>
              <a target="_blank"
                href="{{ fileCtrlr.buildUrl (fileCopy.repoBaseUrl, fileCopy.repoDataPath, fileCopy.fileName) }}">
                <i class="icon-download" />Data
              </a>
            </span>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</section>

<section id="donor">

  <div class="wide">
    <h3>Donor</h3>

    <table class="table table-info" ng-repeat="donorInfo in info.donors">
      <tr>
        <th>Project ID</th>
        <td ng-init="projCode = donorInfo.projectCode">
            <a href="/projects/{{ projCode }}">{{ fileCtrlr.stringOrDefault (projCode) }}</a>
        </td>
      </tr>
      <tr>
        <th>Primary site</th>
        <td>{{ fileCtrlr.stringOrDefault (donorInfo.primarySite) }}</td>
      </tr>
      <tr>
        <th>Donor in Study</th>
        <td>
          <study-badge study="{{ donorInfo.study }}" text="None">
        </td>
      </tr>
      <tr>
        <th>Donor ID</th>
        <td ng-init="donorId = donorInfo.donorId">
            <a href="/donors/{{ donorId }}">{{ fileCtrlr.stringOrDefault (donorId) }}</a>
        </td>
      </tr>
      <tr>
        <th>Donor Submitter IDs</th>
        <td>{{ fileCtrlr.noNullConcat ([donorInfo.otherIdentifiers.tcgaParticipantBarcode, donorInfo.submittedDonorId]) }}</td>
      </tr>
      <tr>
        <th>Specimen ID</th>
        <td>{{ fileCtrlr.stringOrDefault (donorInfo.specimenId) }}</td>
      </tr>
      <tr>
        <th>Specimen Submitter IDs</th>
        <td>{{ fileCtrlr.noNullConcat ([donorInfo.otherIdentifiers.tcgaSampleBarcode, donorInfo.submittedSpecimenId]) }}</td>
      </tr>
      <tr>
        <th>Specimen Type</th>
        <td>{{ fileCtrlr.stringOrDefault (donorInfo.specimenType) }}</td>
      </tr>
      <tr>
        <th>Sample ID</th>
        <td>{{ fileCtrlr.stringOrDefault (donorInfo.sampleId) }}</td>
      </tr>
      <tr>
        <th>Sample Submitter IDs</th>
        <td>{{ fileCtrlr.noNullConcat ([donorInfo.otherIdentifiers.tcgaAliquotBarcode, donorInfo.submittedSampleId]) }}</td>
      </tr>
      <tr>
        <th>Matched Control Sample ID</th>
        <td>{{ fileCtrlr.stringOrDefault (donorInfo.matchedControlSampleId) }}</td>
      </tr>
    </table>

  </div>

</section>

</article>
</div>
