<div class="modal-content">
    <div class="modal-header clearfix">
        <h3 class="pull-left">Download manifests</h3>
        <button class="pull-right t_button" data-ng-click="cancel()"><i
                class="icon-cancel"></i>
        </button>
    </div>

    <div class="modal-body">
       A manifest if a text file passed to download clients in order to download files. 
       For more information, see <a href="" target="_blank">Download data in external repositories</a>
       <br>
       You will get a single manifest file per repository.<br>
       Please note that some files may be stored in different repositories</br>
       The list below is restricted by your repository filter.
       <!--<div><strong>Query:</strong><query-display filters="filters"></query-display></div>-->
       <br>
       <table class="table table-info">
           <thead>
               <th>Repository</th><th># Files</th>
           </thead>
           <tbody>
               <tr data-ng-repeat="(k, v) in selectedRepos">
                   <td>{{k}}</td>
                   <td>{{v | number}}</td>
               </tr>
           </tbody>
       </table>
    </div>

    <div class="modal-footer">
        <button class="t_button" data-ng-click="cancel();">Cancel</button>
        <button class="t_button" data-ng-click="download()"><i class="icon-download"></i>Download</button> 
    </div>
</div>
