<aside class="t_sidebar">
    <div style="position: relative; margin-right: -2rem">
        <ul class="t_facets">

            <li data-type="mutation" data-tags-facet data-label="File" data-facet-name="id" data-placeholder=""></li>
            <terms data-type="file" data-facet-name="repositoryNames" 
                   data-facet="ExternalRepoController.files.facets.repositoryNames"
                   data-label="Repository"></terms>
            <terms data-type="file" data-facet-name="study" 
                   data-label="Study"
                   data-facet="ExternalRepoController.files.facets.study"></terms>
            <terms data-type="file" data-facet-name="dataType" 
                   data-label="Data Type"
                   data-facet="ExternalRepoController.files.facets.dataType"></terms>
            <terms data-type="file" data-facet-name="fileFormat" 
                   data-label="File Format"
                   data-facet="ExternalRepoController.files.facets.fileFormat"></terms>
            <terms data-type="file" data-facet-name="access" 
                   data-label="Access"
                   data-facet="ExternalRepoController.files.facets.access"></terms>

            <li data-type="mutation" data-tags-facet data-label="Donor" data-facet-name="id" data-placeholder=""></li>
            <terms data-type="file" data-facet-name="projectCode" 
                   data-label="Project"
                   data-facet="ExternalRepoController.files.facets.projectCode"></terms>
            <terms data-type="file" data-facet-name="primarySite" 
                   data-label="Primary Site"
                   data-facet="ExternalRepoController.files.facets.primarySite"></terms>
            <terms data-type="file" data-facet-name="donorStudy" 
                   data-label="Donor Study"
                   data-facet="ExternalRepoController.files.facets.donorStudy"></terms>


        </ul>
    </div>
</aside>
<article style="position: relative;">
    <section style="padding-top:0">
        <div>
            <p>External repositories content indexed on ??? <br>
               For more information on controlled-access data, please refer to 
                <a href="https://docs.icgc.org/access-controlled-data" target="_blank"><i class="icon-external-link"></i>https://docs.icgc.org/access-controlled-data</a>
            </p>
        </div>
        <div style="margin-bottom:0.5rem">
            <button class="t_button" data-ng-click="ExternalRepoController.downloadManifest()">
                <i class="icon-download"></i>Download manifests {{ ExternalRepoController.selectedFiles.length === 0? '( All )' : '( ' + ExternalRepoController.selectedFiles.length + ' files )'}}
            </button>
            <button class="t_button" data-ng-click="ExternalRepoController.undo()"
                data-ng-disabled="ExternalRepoController.selectedFiles.length === 0">
                <i class="icon-undo"></i>
            </button>
        </div>

        <div class="t_table_top">
            <span data-table-counts data-label="files" data-page="ExternalRepoController.files.pagination"></span>
            <span class="t_tools">
                <span class="t_tools__tool">
                    <i class="icon-file pull-right" data-ng-click="ExternalRepoController.export()"></i>
                </span>
            </span>

        </div>

        <table class="table table-selectable">
            <thead>
                <!--<th class="text-center"><i class="icon-check-empty"></i></th>-->
                <th>&nbsp;</th> 
                <th data-sortable data-type="files" data-field="fileName">File Name</th>
                <th>ICGC Donor</th>
                <th>Repository</th>
                <th data-sortable data-type="files" data-field="projectCode">Project</th>
                <th>Study</th>
                <th data-sortable data-type="files" data-field="dataType">Data type</th>
                <th data-sortable data-type="files" data-field="fileFormat">Format</th>
                <th data-sortable data-type="files" data-field="fileSize">Size</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="row in ExternalRepoController.files.hits">
                    <td class="text-center" data-ng-click="ExternalRepoController.toggleRow(row)" style="cursor:pointer">
                       <i class="{{ ExternalRepoController.isSelected(row)? 'icon-check':'icon-check-empty' }}"></i>
                    </td>
                    <td style="max-width:30rem">
                       <i class="{{row.access==='open'? 'icon-lock-open-alt':'icon-lock'}}"></i>
                       {{row.fileName}}
                    </td>
                    <td>{{row.donorId}}</td>
                    <td>{{row.repositoryNames.join(',') }}</td>
                    <td>{{row.projectCode}}</td>
                    <td>
                        <span class="badge" style="font-size:0.5rem" data-ng-if="row.study === 'PCAWG'"><small>PCAWG</small></span>
                        <span data-ng-if="row.study !== 'PCAWG'">{{row.study}}</span>
                    </td>
                    <td>{{row.dataType}}</td>
                    <td>{{row.fileFormat}}</td>
                    <td>{{row.fileSize | bytes }}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls data-type="files" data-data="ExternalRepoController.files"></pagination-controls>
    </section>
</article>
