<aside class="t_sidebar">
    <div style="position: relative; margin-right: -2rem">
        <ul class="t_facets">
            <li data-tags-facet data-label="Donor" data-facet-name="id" data-placeholder="eg. DO1" data-type="donor"></li>
            <terms data-type="donor" data-facet-name="primarySite"
                   data-facet="ExternalRepositoryController.files.facets.primarySite"></terms>
            <terms data-type="donor" data-facet-name="projectId" data-defined="true"
                   data-facet="ExternalRepositoryController.files.facets.projectId"></terms>
            <terms data-type="donor" data-facet-name="gender" data-capitalize="true"
                   data-facet="ExternalRepositoryController.files.facets.gender"></terms>
            <terms data-type="donor" data-facet-name="tumourStageAtDiagnosis"
                   data-facet="ExternalRepositoryController.files.facets.tumourStageAtDiagnosis" data-collapsed="true"></terms>
            <terms data-type="donor" data-facet-name="vitalStatus" data-capitalize="true"
                   data-facet="ExternalRepositoryController.files.facets.vitalStatus" data-collapsed="true"></terms>
            <terms data-type="donor" data-facet-name="diseaseStatusLastFollowup" data-capitalize="true"
                   data-facet="ExternalRepositoryController.files.facets.diseaseStatusLastFollowup" data-collapsed="true"></terms>
            <terms data-type="donor" data-facet-name="relapseType" data-capitalize="true"
                   data-facet="ExternalRepositoryController.files.facets.relapseType" data-collapsed="true"></terms>
            <terms data-type="donor" data-facet-name="ageAtDiagnosisGroup"
                   data-facet="ExternalRepositoryController.files.facets.ageAtDiagnosisGroup" data-collapsed="true"></terms>
            <terms data-type="donor" data-facet-name="availableDataTypes" data-defined="true"
                   data-facet="ExternalRepositoryController.files.facets.availableDataTypes" data-collapsed="true"></terms>
            <terms data-type="donor" data-facet-name="analysisTypes" data-defined="true"
                   data-facet="ExternalRepositoryController.files.facets.analysisTypes" data-collapsed="true"></terms>
        </ul>
    </div>
</aside>
<article style="position: relative;">
    <section style="padding-top:0">
        <div>
            <p>External repositories content indexed on ??? <br>
               For more information on controlled-access data, please refer to 
                <a href="https://docs.icgc.org/access-controlled-data"><i class="icon-external-link"></i>https://docs.icgc.org/access-controlled-data</a>
            </p>
        </div>
        <table class="table table-info">
            <thead>
                <th></th>
                <th>File Name</th>
                <th># Donors</th>
                <th>Repository</th>
                <th>Project</th>
                <th>Study</th>
                <th>Data type</th>
                <th>Format</th>
                <th>Size</th>
                <th>Access</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
</article>
