<div class="modal-content">
    <div class="modal-header clearfix">
      <h3 class="pull-left">Download manifests</h3>
      <button class="pull-right t_button" data-ng-click="cancel()"><i
              class="icon-cancel"></i>
      </button>
    </div>

    <div class="modal-body">
       A manifest is a text file passed to download clients in order to download files.
       You will get a single manifest file per repository. Please note that some files may be stored in multiple repositories.
       The list below is restricted by your repository filter.
       <br>
       <table class="table table-info">
         <thead>
           <th>Repository</th>
           <th class="text-right"># Donors</th>
           <th class="text-right"># Files</th>
           <th class="text-right">Total file size</th>
           <th class="text-right">Manifest ID</th>
         </thead>

         <tbody>
           <tr data-ng-repeat="(repoName, repoData) in repos">
             <td>
               {{ repoName }}
             </td>
             <td class="text-right">{{ repoData.donorCount | number }}</td>
             <td class="text-right">{{ repoData.fileCount | number }}</td>
             <td class="text-right">{{ repoData.fileSize | bytes }}</td>
             <td class="text-right manifest-cell">
               <div class="manifest" data-ng-if="repoName === 'AWS - Virginia' || repoName === 'Collaboratory'">
                 <button data-ng-if="! repoData.isGeneratingManifestID && ! repoData.manifestID" class="t_button pull-right"
                   data-ng-click="createManifestId(repoName, repoData)">
                  Create Manifest
                 </button>
                 <div data-ng-if="repoData.isGeneratingManifestID" class="pull-right">
                   <i class="icon-spinner icon-spin"></i>
                  </div>
                 <div data-ng-if="repoData.manifestID" class="pull-right">
                  <div data-copy-to-clip data-copy-data="repoData.manifestID" data-show-copy-tips="true" data-prompt-on-copy="true">
                    <input onclick="var _this = this; setTimeout(function() { _this.setSelectionRange(0, _this.value.length); }, 250);" size="38" type="text" class="input_manifest" value="{{repoData.manifestID}}"/>
                    <button style="border: 0; background: transparent;" title="Copy Manifest ID" class="icon-clippy">
                    </button>
                  </div>
                 </div>
               </div>
               <span data-ng-if="repoName != 'AWS - Virginia' && repoName != 'Collaboratory'">&nbsp;</span>
             </td>
           </tr>
         </tbody>
       </table>
    </div>

    <div class="modal-footer">
      <button class="t_button" data-ng-click="cancel();">Cancel</button>
      <button class="t_button" data-ng-click="download()"><i class="icon-download"></i>Download</button>
    </div>
</div>
