<aside class="t_sidebar">
    <div style="position: relative; margin-right: -2rem">
        <ul class="t_facets">

            <li data-type="mutation" data-tags-facet data-label="File" data-facet-name="id" data-placeholder=""></li>

            <terms data-type="file" data-facet-name="repository" 
                   data-facet="ExternalRepoController.files.facets.repository"
                   data-label="Repository"></terms>
            <terms data-type="file" data-facet-name="study" 
                   data-label="Study"
                   data-facet="ExternalRepoController.files.facets.study"></terms>
            <terms data-type="file" data-facet-name="dataType" 
                   data-label="Data Type"
                   data-facet="ExternalRepoController.files.facets.dataType"></terms>
            <terms data-type="file" data-facet-name="fileFormat" 
                   data-label="File Format"
                   data-facet="ExternalRepoController.files.facets.fileFormat"></terms>
            <terms data-type="file" data-facet-name="access" 
                   data-label="Access"
                   data-facet="ExternalRepoController.files.facets.access"></terms>
        </ul>
    </div>
</aside>
<article style="position: relative;">
    <section style="padding-top:0">
        <div>
            <p>External repositories content indexed on ??? <br>
               For more information on controlled-access data, please refer to 
                <a href="https://docs.icgc.org/access-controlled-data"><i class="icon-external-link"></i>https://docs.icgc.org/access-controlled-data</a>
            </p>
        </div>
        <div style="margin-bottom:0.5rem">
            <button class="t_button" data-ng-click="ExternalRepoController.downloadManifest()">
                <i class="icon-download"></i>Download {{ ExternalRepoController.selectedFiles.length === 0? 'all' : ExternalRepoController.selectedFiles.length + ' files'}}
            </button>
            <button class="t_button" data-ng-click="ExternalRepoController.undo()"
                data-ng-disabled="ExternalRepoController.selectedFiles.length === 0">
                <i class="icon-undo"></i>
            </button>

            <span class="t_tools">
                <span class="t_tools__tool">
                    <i class="icon-file pull-right" data-ng-click="ExternalRepoController.export()"></i>
                </span>
            </span>
        </div>
        <table class="table table-selectable">
            <thead>
                <!--<th class="text-center"><i class="icon-check-empty"></i></th>-->
                <th>&nbsp;</th> 
                <th>File Name</th>
                <th># Donors</th>
                <th>Repository</th>
                <th>Project</th>
                <th>Study</th>
                <th>Data type</th>
                <th>Format</th>
                <th>Size</th>
                <th>Access</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="row in ExternalRepoController.files.hits">
                    <td class="text-center" data-ng-click="ExternalRepoController.toggleRow(row)" style="cursor:pointer">
                       <i class="{{ row.checked? 'icon-check':'icon-check-empty' }}"></i>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="badge"><small>PCAWG</small></span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
</article>
