<div class="modal-content">
    <div class="modal-header clearfix">
        <h3 class="pull-left">Download manifests</h3>
        <button class="pull-right t_button" data-ng-click="cancel()"><i
                class="icon-cancel"></i>
        </button>
    </div>

    <div class="modal-body">
       These are the repositories where your selected files are stored.<br>
       Please note that the same file may be replicated across different repositories.<br><br>
       <div><strong>Query:</strong><query-display filters="filters"></query-display></div>
       <br>
       <table class="table table-info">
           <thead>
               <th>Repository</th><th># Files</th>
           </thead>
           <tbody>
               <tr data-ng-repeat="(k, v) in selectedRepos">
                   <td>{{k}}</td>
                   <td>{{v | number}}</td>
               </tr>
           </tbody>
       </table>
    </div>

    <div class="modal-footer">
        <button class="t_button" data-ng-click="cancel();">Cancel</button>
        <button class="t_button" data-ng-click="download()"><i class="icon-download"></i>Download</button> 
    </div>
</div>
