<div id="pathways" class="">
  <h1><i class="t_badge t_badge_icon"><i class="icon-chart"></i></i>Pathway Viewer</h1>
  <aside class="t_sidebar">
      <div style="margin-right: -2rem">
          <div class=''>
            <div style="max-height: 76rem; overflow-y: scroll;padding-bottom: 1rem">
                  <ul class="t_suggest_flyout__hits">
                    <li class="t_suggest_flyout__hits__hit" ng-repeat="pathway in pathways">
                      <span style="font-size: 1.2rem">{{ pathway.geneSetId }}</span>
                      <ul>
                              <li style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                                <small>{{ pathway.geneSetName }}</small>
                              </li>
                          </ul>
                    </li>
                  </ul>
            </div>
          </div>
      </div>
  </aside>
  <article>
  </article>
</div>