$copyClipBubbleBG: #000;

.copy-to-clip {
  position: relative;
  display: inline-block;
  
  //.copy-to-clip-content {
   
  //}
 
 .copy-to-clip-message-container {
   background: $copyClipBubbleBG;
   position: absolute;
   opacity: 0.9;
   color: #fff;
   left: 10%;
   width: 10rem;
   top: 0px;
   text-align: center;
   padding: 0.5rem 0.5rem;
   border-radius: 0.3rem;
   font-size: 1.1rem;
   z-index: 0;
   display: none;
   
   .arrow {
     position: absolute;
     left: 4.4rem;
     width: 0; 
     height: 0; 
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
    
     border-top: 10px solid $copyClipBubbleBG;
   }
 } 
}