textarea,
input {
  // padding: .25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid $greyLight;
  vertical-align: middle;
  line-height: 1.5rem;
  // text-indent: .5rem;

  &:focus {
    border-color: lighten($cyan, 10);
    outline: 0;
    outline: thin dotted  \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px $greyLightest, 0 0 .5rem $cyan);
  }
}

input.invalid {
  border: 1px solid $red;

  &:focus {
    border-color: lighten($red, 10);
    @include box-shadow(inset 0 1px 1px $greyLightest, 0 0 .5rem $red);
  }
}

input.valid {
  border: 1px solid $green;

  &:focus {
    border-color: lighten($green, 10);
    @include box-shadow(inset 0 1px 1px $greyLightest, 0 0 .5rem $green);
  }
}

.t_input__block {
  width: 100%;
}
