/** PATHWAY CUSTOMIZATION **/

.RenderableRect, .RenderableProtein, .RenderableChemical, .RenderableEntity, .ProcessNode{
  fill:#37a321;
  stroke:#1a9900;
}

// TODO double border this guy
.RenderableEntitySet{
  fill:#6ABAD7;
  stroke: #1693C0;
  stroke-width:0.5px;
}

.RenderableComplex{
  fill:#45A9CD;
  stroke-width:1px;
  stroke: #34495e;
}

.ProcessNode{
  stroke: #666;
  stroke-width:0.6px;
  fill:#999;
}

.RenderableGene{
  stroke:#333;
  fill:none;
}

.RenderableText {
  font-size: 7px;
}

.RenderableCompartment{
  fill:#f8e9db;
  stroke:#ffc38b;
  stroke-width:1px;
  z-index: -1;
  fill-opacity: 0.4;
}

.RenderableStroke{
  stroke-width:1px;
}

.renderableinteraction{
  stroke-width:1.3px;
}

.entitysetandmemberlink, .entitysetandentitysetlink{
  stroke-dasharray:5 7;
  stroke-width:0.5px;
}

/** ESSENTIAL **/

.Note{
  stroke:gray;
  fill:#999;
}

.RenderableNodeText .RenderableNodeTextCell{
  text-align: center;
  height: 100%;
  width: 100%;
  color: white;
}

.RenderableCompartmentText{
  font-size: 9px;
  fill: #34495e;
  line-height: 1.1em;
}

// Undo the effects of the general table css
.RenderableNodeText td{
  padding: none;
}
// Undo the effects of the general table css
.RenderableNodeText tbody{
  line-height: normal;
}

.RenderableBorder{
  fill:none;
}

.pathwayviewercontainer body{
  margin:0;
  background: none;
}

#pathway-viewer-mini{
  border: 1px dashed #b3b3b3;
  position: relative;
}

.pathway-infobar{
  position: absolute;
  top: 0;
  left: 70%;
  width: 25%;
  height: 40%;
  margin:3%;
  margin-top: -1px;
  opacity: 0.8;
 // border-radius: 5%;
  border: 1px dashed #b3b3b3;

  border-top: 1px solid white;
  background: white;
//  -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.25);
//-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.25);
//box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.25);
}
