/** PATHWAY CUSTOMIZATION **/

.RenderableRect, .RenderableProtein, .RenderableChemical, .RenderableEntity, .ProcessNode{
  fill:#b5f9a7;
  stroke:#1a9900;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.25);
}

.RenderableComplex, .RenderableEntitySet{
  fill:#b6e2ff;
  stroke-width:1.5px;
  stroke: #166aa2;
}

.RenderableEntitySet{
  stroke-width:0.5px;
}

.ProcessNode{
  stroke: #1a9900;
  stroke-width:2px;
  fill:#ebffe7;
}

.RenderableGene{
  stroke:#333;
  fill:none;
}

.RenderableText {
  font-size: 7px;
}

.RenderableCompartment{
  fill:#fbf7f4;
  stroke:#ffc38b;
  stroke-width:1px;
  fill-opacity: 0.25;
}

.RenderableStroke{
  stroke-width:1px;
}

.renderableinteraction{
  stroke-width:1.3px;
}

.entitysetandmemberlink, .entitysetandentitysetlink{
  stroke-dasharray:5 7;
  stroke-width:0.5px;
}

/** ESSENTIAL **/

.Note{
  stroke:gray;
  fill:#999;
}

.RenderableNodeText .RenderableNodeTextCell{
  text-align: center;
  height: 100%;
  width: 100%;
  color: #444;
}

.RenderableCompartmentText{
  font-size: 9px;
  fill: #34495e;
  line-height: 1.1em;
}

// Undo the effects of the general table css
.RenderableNodeText td{
  padding: none;
}
// Undo the effects of the general table css
.RenderableNodeText tbody{
  line-height: normal;
}

.RenderableBorder{
  fill:none;
}

.pathwayviewercontainer body{
  margin:0;
  background: none;
}

#pathway-viewer-mini{
  border: 1px solid #b3b3b3;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 20px 0px lightgrey;
  -moz-box-shadow: inset 0px 0px 20px 0px lightgrey;
  box-shadow: inset 0px 0px 20px 0px lightgrey;
  line-height: 0px;
}

.pathway-infobar{
  position: absolute;
  top: 0;
  left: 70%;
  width: 25%;
  height: 40%;
  margin:3%;
  margin-top: -1px;
  opacity: 0.8;
 // border-radius: 5%;
  border: 1px dashed #b3b3b3;
  border-top: 1px solid white;
  background: white;
}
