/** PATHWAY COLOR CUSTOMIZATION **/

$primaryNodeColor:#b5f9a7;
$primaryNodeBorder:#1a9900;
$secondaryNodeColor:#b6e2ff;
$secondaryNodeBorder:#166aa2;

$lineThickness: 1px;
$lineThicknessLight: 0.5px;
$lineThicknessThick: 1.5px;
$lineThicknessThicker: 2px;

$nonNodeBoxColor: #ebffe7;

$compartmentBackground: #fbf7f4;
$compartmentBorder:#ffc38b;

.RenderableRect, .RenderableProtein, .RenderableChemical, .RenderableEntity, .ProcessNode{
  fill:$primaryNodeColor;
  stroke:$primaryNodeBorder;
}

.RenderableComplex, .RenderableEntitySet{
  fill:$secondaryNodeColor;
  stroke-width:$lineThicknessLight;
  stroke: $secondaryNodeBorder;
}

.RenderableEntitySet{
  stroke-width:$lineThicknessThick;
}

.ProcessNode{
  stroke: $primaryNodeBorder;
  stroke-width:$lineThicknessThicker;
  fill:$nonNodeBoxColor;
}

.RenderableGene{
  stroke:#333;
  fill:none;
}

.RenderableText {
  font-size: 7px;
}

.RenderableCompartment{
  fill:$compartmentBackground;
  stroke:$compartmentBorder;
  stroke-width:$lineThickness;
  fill-opacity: 0.25;
}

.RenderableStroke{
  stroke-width:$lineThickness;
}

.renderableinteraction{
  stroke-width:$lineThicknessThick;
}

.entitysetandmemberlink, .entitysetandentitysetlink{
  stroke-dasharray:5 7;
  stroke-width:$lineThicknessLight;
}

.Note{
  stroke:gray;
  fill:$nonNodeBoxColor;
}

/** ESSENTIALS **/

.RenderableNodeText .RenderableNodeTextCell{
  text-align: center;
  height: 100%;
  width: 100%;
  color: #444;
}

.RenderableCompartmentText{
  font-size: 9px;
  line-height: 1.1em;
}

// Undo the effects of the general table css
.RenderableNodeText td{
  padding: none;
}
// Undo the effects of the general table css
.RenderableNodeText tbody{
  line-height: normal;
}

.RenderableBorder{
  fill:none;
}

.pathwayviewercontainer body{
  margin:0;
  background: none;
}

#pathway-viewer-mini{
  border: 1px solid #b3b3b3;
  position: relative;
  //-webkit-box-shadow: inset 0px 0px 14px 0px rgba(214,214,214,0.7);
  //-moz-box-shadow: inset 0px 0px 14px 0px rgba(214,214,214,0.7);
  //box-shadow: inset 0px 0px 14px 0px rgba(214,214,214,0.7);
  line-height: 0px;
}

.pathway-infobar{
  position: absolute;
  top: 0;
  left: 70%;
  width: 25%;
  height: 40%;
  margin:3%;
  margin-top: -1px;
  opacity: 0.8;
  border: 1px dashed #b3b3b3;
  border-top: 1px solid white;
  background: white;
}
