.table {
  width: 100%;
  border: 1px solid $greyLighter;
  font-size: .9rem;

  thead {
    [class^="icon-"]:before, [class*=" icon-"]:before {
      width: 0;
    }
    tr:nth-child(even){
      border-top: 1px solid $greyLightest;
    }

    .tiny-header {
      font-size: .7rem;
    }
  }

  tbody {
    tr {
      vertical-align: top;

      &:nth-child(odd) {
        background: $greyLightest;
      }
    }
  }

  td, th {
    line-height: inherit;
    text-align: left;
    padding: .2rem .4rem;
    border-left: 1px solid $greyLighter;
    white-space: normal;
  }
  th {
    white-space: nowrap;
  }

  td {
 //   overflow: hidden;
 //   text-overflow: ellipsis;
  }

  th {
    font-size: 1rem;
    font-weight: 300;
    color: $black;
    text-overflow: normal;
    //border: 1px solid $greyLighter;
  }

  &.table-info {
    margin-bottom: 1rem;

    td {
      white-space: normal;
    }
  }

  &.table-download {
    border:0;
    tbody {
       tr {
          background: None;
       }
    }
  }

  &.table-setop {
    tbody {
       tr {
          background-color: rgba(0, 0, 0, 0);
          border-top: 1px solid $greyLighter;
       }
    }
  }
}

.t_table_top {
  margin-top: 1rem;
  padding: .5rem 0;
  font-size: 1.2rem;
  font-weight: 300;
}


.t_cell_line_break {
  word-wrap:break-word;
  max-width:15em
}


/* IE has crummy support for table-cell overflow, so we need to apply this to the element in the cell instead */
.t_cell_overflow {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
