//-----------------------------------------------------------------------------
// Grid Settings
*, input[type="search"] {
  @include box-sizing(border-box);
}

$break-zero: 0;
$break-tablet: 721px;
$break-landscape: 769px;
$break-laptop: 1025px;
$break-desktop: 1280px;
$break-widescreen: 1535px;
$break-verywidescreen: 1730px;

$grids: 12;

$gutters: 1/3;
$gutters: add-gutter(1/4 at $break-desktop);
$gutters: add-gutter(1/5 at $break-verywidescreen);

$footer-height: 16rem;

//-----------------------------------------------------------------------------
// Layout

html, body {
  height: 100%;
}

body {
  @include clearfix();

  // Sets a max width. Site will be fluid until it reaches 1200, then stick there.
  max-width: 1200px;
  margin: 0;


  @include breakpoint($break-tablet) {
    margin: 0 auto;
  }
  @include breakpoint($break-widescreen) {
    max-width: 1440px;
  }
}

.wrap {
  @include clearfix();

  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -2 * $footer-height;
  overflow: hidden;

  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.3);

  @include breakpoint($break-tablet) {
    margin-bottom: -$footer-height;
  }
}

.content {
  @include clearfix();
}

footer, .push {
  height: 2 * $footer-height;

  @include breakpoint($break-tablet) {
    height: $footer-height;

  }
}


aside {
  @include clearfix();
  @include grid-span(2, 1);
}

article {
  @include clearfix();
  @include grid-span(10, 3);
  margin-right: 0;
}

section {
  @include clearfix();
  //position: relative;
}

.wide {
  @include breakpoint($break-landscape) {
    @include float-span(8);
  }
}

.quarter {
  @include breakpoint($break-landscape) {
    @include float-span(3);
  }
}

.narrow {
  @include breakpoint($break-landscape) {
    @include float-span(4);
  }
}

.half {
  @include breakpoint($break-landscape) {
    @include float-span(6);
  }
}

.third {
  @include breakpoint($break-landscape) {
    @include float-span(4);
  }
}

.relative {
  position: relative;
}

.clearfix {
  @include clearfix();
}

.hidden {
  display: none;
  visibility: hidden;
}

.omega {
  margin-right: 0 !important;
}
