/* Bootstrap fixed table text alignment in their 3.0 versions, in the meantime ... */
.table .text-left {
    text-align: left;
}

.table .text-right {
    text-align: right;
}

.table .text-center {
    text-align: center;
}

/* Slightly wider modal for better fitting of our text */
.modal {
   width: 620px;
}


/* For file dialogs */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


textarea {
   display: block;
   width: 100%;
   margin: 0.2rem;
}

.alert-warning {
   color: #c09853;
   background-color: #fcf8e3
}

.alert-warning h4 {
   color: #c09853;
}



/* A slimmer pagination control */
.pagination {
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 20px;
}

.pagination ul>li>a {
    padding: 0px 12px;
}

.pagination ul>li>a {
    cursor: pointer;
}

/*** SUGGEST MATCH ***/
.match {
    font-weight: bold;
}


