/* Bootstrap fixed table text alignment in their 3.0 versions, in the meantime ... */
.table .text-left {
    text-align: left;
}

.table .text-right {
    text-align: right;
}

.table .text-center {
    text-align: center;
}

/* Slightly wider modal for better fitting of our text */
.modal {
   width: 620px;
}


/* Force alert-error to markdown */
.alert-error .release_notice * {
   // color: #FF0000;
   color: rgb(220, 50, 47) !important;
}


/* A slimmer pagination control */
.pagination {
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 20px;
}

.pagination ul>li>a {
    padding: 0px 12px;
}

.pagination ul>li>a {
    cursor: pointer;
}

/*** SUGGEST MATCH ***/
.match {
    font-weight: bold;
}


