@font-face {
  font-family: 'fontello';
  src: url('fonts/icgc-icons.eot?23154301');
  src: url('fonts/icgc-icons.eot?23154301#iefix') format('embedded-opentype'),
       url('fonts/icgc-icons.woff?23154301') format('woff'),
       url('fonts/icgc-icons.ttf?23154301') format('truetype'),
       url('fonts/icgc-icons.svg?23154301#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23154301#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-upload:before { content: '\e800'; } /* '' */
.icon-spinner:before { content: '\e801'; } /* '' */
.icon-check-empty:before { content: '\e802'; } /* '' */
.icon-info:before { content: '\e803'; } /* '' */
.icon-list:before { content: '\e804'; } /* '' */
.icon-team:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-zoom-out:before { content: '\e807'; } /* '' */
.icon-check:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-external-link:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\e80c'; } /* '' */
.icon-file:before { content: '\e80d'; } /* '' */
.icon-file-alt:before { content: '\e80e'; } /* '' */
.icon-folder-closed:before { content: '\e80f'; } /* '' */
.icon-folder-open:before { content: '\e810'; } /* '' */
.icon-resize-vertical:before { content: '\e811'; } /* '' */
.icon-caret-down:before { content: '\e812'; } /* '' */
.icon-caret-up:before { content: '\e813'; } /* '' */
.icon-caret-left:before { content: '\e814'; } /* '' */
.icon-caret-right:before { content: '\e815'; } /* '' */
.icon-shield:before { content: '\e816'; } /* '' */
.icon-video:before { content: '\e817'; } /* '' */
.icon-search:before { content: '\e818'; } /* '' */
.icon-mail:before { content: '\e819'; } /* '' */
.icon-picture:before { content: '\e81a'; } /* '' */
.icon-plus:before { content: '\e81b'; } /* '' */
.icon-minus:before { content: '\e81c'; } /* '' */
.icon-help:before { content: '\e81d'; } /* '' */
.icon-home:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */
.icon-login:before { content: '\e820'; } /* '' */
.icon-logout:before { content: '\e821'; } /* '' */
.icon-time:before { content: '\e822'; } /* '' */
.icon-sort:before { content: '\e823'; } /* '' */
.icon-sort-down:before { content: '\e824'; } /* '' */
.icon-sort-up:before { content: '\e825'; } /* '' */
.icon-chart:before { content: '\e826'; } /* '' */
.icon-database:before { content: '\e827'; } /* '' */
.icon-twitter:before { content: '\e828'; } /* '' */
.icon-undo:before { content: '\e829'; } /* '' */
.icon-pilcrow:before { content: '\e82a'; } /* '' */
.icon-zoom-in:before { content: '\e82b'; } /* '' */
.icon-attention-1:before { content: '\e82c'; } /* '' */
.icon-chart-bar:before { content: '\e82d'; } /* '' */
.icon-chart-pie:before { content: '\e82e'; } /* '' */
.icon-beaker:before { content: '\e82f'; } /* '' */
.icon-share:before { content: '\e830'; } /* '' */


/*
   Animation example, for spinners
*/
.icon-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

