<div class="clearfix">
<ul>
    <li class="heading">Site</li>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Cancer Projects</a></li>
    <li><a href="/search">Advanced Search</a></li>
    <li><a href="/repository">Data Repository</a></li>
    <li><a href="/analysis">Set Analysis</a></li>
    <li><a href="/ga4gh/beacon">ICGC GA4GH Beacon</a></li>
</ul>
<ul>
    <li class="heading">Information</li>
    <li><a href="http://docs.icgc.org/data-portal" target="_blank">Portal Documentation</a></li>
    <li><a href="/docs/" target="_blank">Portal API Documentation</a></li>
    <li><a href="http://docs.icgc.org/data-submission" target="_blank">Submission Documentation</a></li>
</ul>
<ul>
    <li class="heading">DCC</li>
    <li><a href="/team">The Team</a></li>
    <li><a href="mailto:dcc-support@icgc.org?Subject=Data%20Portal%20Feedback">Contact Us</a></li>
    <li><a target="_blank" href="https://twitter.com/icgc_dcc">Twitter</a></li>
</ul>
<ul>
    <li class="heading">ICGC</li>
    <li><a href="http://icgc.org" target="_blank">ICGC Home</a></li>
    <li><a href="http://www.icgc.org/daco" target="_blank">Data Access</a></li>
    <li><a href="http://www.icgc.org/icgc/goals-structure-policies-guidelines/e3-publication-policy" target="_blank">Publication Policy</a></li>
    <li><a href="http://www.icgc.org/privacy-policy" target="_blank">Privacy Policy</a></li>
    <li><a href="http://www.icgc.org/terms-and-conditions" target="_blank">Terms and Conditions</a></li>
</ul>
<div class="logo omega"><a href="http://oicr.on.ca/" target="_blank"><img src="/styles/images/OICR2logo.png"></a></div>
        </div>
<div>
    <small style="display: block"> &copy; 2015 <a href="http://icgc.org">International Cancer Genome Consortium.</a> All
        Rights
        reserved.</small>
    <small style="display: block; line-height: .5rem">ICGC Data Portal {{FooterCtrl.portalVersion}} -
        API {{FooterCtrl.apiVersion}} -
        {{FooterCtrl.portalCommit}}</small>
</div>
