.analysis {
   h3 {
      margin-top: 0;
   }

   .sidepanel {
      float: left;
      width: 22%;
      margin-right: 1rem;
   }

   .content {
      float: left;
      clear: right;
      width: 75%;
   }
}
