#home-page {
  section {
    border: none;
    padding: 1rem;
    position: relative;

    @include breakpoint($break-landscape) {
      @include float-span(4);
    }
  }

  .subhead {
    margin-top: -1rem;
    color: $grey;
    font-size: 1.9rem;
  }
  
  #pcawg-logo {
  	margin-left: 1rem; 
  	margin-bottom: 1rem;
  }
  

    
    .icgc-cloud-home {
      margin-right: 0;
      
      .icgc-container {
        margin: 0 0;
        position:relative;
        transition: opacity 0.2s ease-in;      
        width: 320px;
        
        img { 
            width: 100%;
            display: block;
        } 
      }  
    }

  
  .divider {
  	border-top: 1px solid #eee; 
  	margin-top: 2rem; 
  	margin-bottom: 2.5rem
  }
}
