#home-page {
  section {
    border: none;
    padding: 1rem;
    position: relative;

    @include breakpoint($break-landscape) {
      @include float-span(4);
    }
  }

  .subhead {
    margin-top: -1rem;
    color: $grey;
    font-size: 1.9rem;
  }
  
  #pcawg-logo {
  	margin-left: 1rem; 
  	margin-bottom: 1rem;
  }
  

    
    section.icgc-cloud-home {
      margin: 0 0;
      padding-top: 0;
      position:relative;
      opacity: 0.88;
      transition: opacity 0.2s ease-in;
      
      img { 
          max-width: 274px;
          display: block;
      } 
      
      .cloud-caption {
        position: absolute;
        width: 274px;
        background: #000;
        opacity: 0.80;
        bottom: 12px;
        padding: 0.2rem 0.8rem;
        color: #fff;
        font-weight: lighter;
        font-size: 1.2rem;
        
        
       
      }
       &:hover {
         opacity: 1;
         
         .cloud-caption {
          opacity: 0.9;
        }
       }
        
    }

  
  .divider {
  	border-top: 1px solid #eee; 
  	margin-top: 2rem; 
  	margin-bottom: 2.5rem
  }
}
