// ---------------------------------------------------------------------------
// Basic Typography
//

// -------------------------------------------------------------------------
// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $sans-stack;
  font-weight: 300;
  //text-transform: uppercase;
  margin-top: 0;
}

h1 {

  @extend .caps;
  ~ h1 {

  }
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.4em;
  line-height: 1.25em;
  margin-top: .5em;
  margin-bottom: .5em;

  @include breakpoint($break-tablet) {

    ~ h2 {

    }
  }
}

h3 {
  font-size: 2.2em;
  line-height: 1.25em;
  margin-top: .5em;
  margin-bottom: .5em;
  + h4 {

  }
  @include breakpoint($break-tablet) {

  }
}

h4 {
  @extend .caps;

}

h5 {
  font-style: italic;
}


