
<div data-ng-show="ProjectsCtrl.projects">
    <section>
        <div class="narrow">
            <donut height="350"
                   width="300"
                   data-items="ProjectsCtrl.donut"
                   data-sub-title="{{ProjectsCtrl.totalDonors | number}} Unique Donors"
                   inner-label="Donors"
                   outer-label="Donors"
                   heading="Donor Distribution"></donut>
        </div>
        <div class="wide omega">
            <stacked height="250"
                     data-items="ProjectsCtrl.stacked"
                     data-subtitle="ProjectsCtrl.ssmTotalDonors">
            </stacked>
        </div>
    </section>
    <section>
        <div>
           <project-mutation-distribution
               data-items="ProjectsCtrl.distribution"
               data-selected="ProjectsCtrl.projectIds">
           </project-mutation-distribution>
        </div>
    </section>
</div>
