<h1><span class="t_badge t_badge_icon t_badge__projects"><i class="icon-list"></i></span>Cancer Projects</h1>
<aside class="t_sidebar">
    <div style="margin-right: -2rem; position: relative">
        <div data-ng-if="ProjectsCtrl.loading" class="loadingOverlay"></div>
        <div data-ng-if="!ProjectsCtrl.projects.facets" class="loading loading-icon">
            <i class="icon-spinner icon-spin"></i>
        </div>
        <ul data-ng-show="ProjectsCtrl.projects.facets" class="t_facets">
            <li data-tags-facet data-label="Project" data-facet-name="id" data-placeholder="eg. PACA-CA, Brain, TCGA"
                data-type="project"></li>
            <terms data-type="project" data-facet-name="primarySite"
                   data-facet="ProjectsCtrl.projects.facets.primarySite"></terms>
            <terms data-type="project" data-facet-name="primaryCountries"
                   data-facet="ProjectsCtrl.projects.facets.primaryCountries"></terms>
            <terms data-type="project" data-facet-name="availableDataTypes" data-defined="true"
                   data-facet="ProjectsCtrl.projects.facets.availableDataTypes"></terms>
        </ul>
    </div>
</aside>
<article>
<div data-ng-if="ProjectsCtrl.loading" class="loadingOverlay"></div>
<div data-ng-show="ProjectsCtrl.projects">
<current></current>
    <div class="t_tabs">
        <div class="t_tabs__tab t_tabs__tab__charts"
             data-nested
             data-ng-click="ProjectsCtrl.state.setTab('charts')"
             data-ng-class="{active: ProjectsCtrl.state.isTab('charts')}"
              data-href="projects/charts">
            Charts
        </div>
        <div class="t_tabs__tab t_tabs__tab__table"
             data-nested
             data-ng-click="ProjectsCtrl.state.setTab('table')"
             data-ng-class="{active: ProjectsCtrl.state.isTab('table')}"
             data-href="projects/table" >
            Table
        </div>
    </div>

    <section>
        <div class='t_tab_pane'
             data-ng-if="ProjectsCtrl.state.hasVisitedTab('charts')"
             data-ng-class="{active: ProjectsCtrl.state.isTab('charts')}"
             data-ng-include="'scripts/projects/views/projects.charts.html'">
             </div>
       <div class='t_tab_pane'
             data-ng-if="ProjectsCtrl.state.hasVisitedTab('table')"
             data-ng-class="{active: ProjectsCtrl.state.isTab('table')}"
             data-ng-include="'scripts/projects/views/projects.table.html'">
        </div>
    </section> 
</div>
</article>
