// ---------------------------------------------------------------------------
// Imports

//-----------------------------------------------------------------------------
// Settings

$mono-stack : "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
$sans-stack : 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$cond-stack: serif;
$serif-stack: serif;
$amp-stack: serif;
$caps-stack: serif;

//-----------------------------------------------------------------------------
// Mixins

@mixin serif { font-family: $serif-stack; }
@mixin sans { font-family: $sans-stack; }
@mixin cond { font-family: $cond-stack; }

@mixin caps($serif: false) {
  @if $serif {
    font-family: $caps-stack;
  }
  text-transform: uppercase;
}
